:host{
    display: flex;
    ;
    padding: 0.5rem 1rem;
    background-color: #155DFC;
    color: white;
    border: none;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
}
:host(:hover){
    background-color: #0d47a1;
}