:host{
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 16px;
    background-color: #155DFC;
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
    gap: 8px;
}