<form  class="flex flex-col space-y-4 w-full font-semibold" [formGroup]="form" (ngSubmit)="onSubmit()">


<app-form-input
[control]="form.controls.oldPassword"
[label]="'Current Password'"
[placeHolder]="'******'"
[errorMessage]="'current password is required'"
[type]="'password'"
class="mb-2"
>
</app-form-input>

<app-form-input
[control]="form.controls.password"
[label]="'New Password'"
[placeHolder]="'******'"
[errorMessage]="'new password is required'"
[type]="'password'"
class="mb-2"
></app-form-input>

<app-form-input
[control]="form.controls.rePassword"
[label]="'Confirm New Password'"
[placeHolder]="'******'"
[errorMessage]="'confirm password is required'"
[type]="'password'"
class="mb-2"
></app-form-input>





<button appColorDir colorType="blue" type="submit" class="my-5">Update Password</button>
</form>