<main class=" h-[100vh] flex flex-col justify-center items-center md:px-6 px-1 py-4 overflow-y-auto ">
<form  class="flex flex-col space-y-2  w-[85%] md:w-[60%]" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <h1 class="text-2xl font-bold self-start">Create A new Password</h1>
    <p class="text-gray-600">Create a new strong password for your account.</p>
<app-form-input
[control]="registerForm.controls.password"
[label]="'Password'"
[placeHolder]="'*****'"
[errorMessage]="'password is requiered'"
[type]="'password'"
>
</app-form-input>


<app-form-input
[control]="registerForm.controls.repassword"
[label]="'Confirm Password'"
[placeHolder]="'******'"
[errorMessage]="'repassword is requiered'"
[type]="'password'"
class="mb-2"
>
</app-form-input>

<button authButton type="submit" class="my-5">Reset Password</button>
<p class="text-gray-600 text-center">Already have an account? <a class="text-blue-600 hover:text-blue-800" routerLink="/auth/register">Create Yours</a></p>
</form>
</main>