@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import '@angular/material/prebuilt-themes/indigo-pink.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-sans: 'Inter', sans-serif;
  --font-mono: 'Geist Mono', monospace;
}

body {
    font-family: var(--font-mono);
}

ul{
    list-style: none;
}
h1{
    font-family: var(--font-sans);
}


/* forms */
@layer components{
 .form-input {
    @apply w-full px-4 py-2 border rounded-md focus:outline-none focus:ring-2;
  }

  .form-input-error {
    @apply border-red-500 focus:ring-red-500;
  }

  .form-input-valid {
    @apply border-gray-300 focus:ring-blue-500;
  }
     .form-label {
    @apply block text-gray-700 font-semibold mb-2;
  }

  .form-error {
    @apply text-red-500 text-sm mt-1;
  }
}
html, body { height: 100%; }
